{% extends "base.html" %}
{% block content %}
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Welcome to the Transcriber app</h1>
          <form action="/transcriber" method="post" enctype="multipart/form-data">
            <div id="emailHelp" class="form-text">Upload your audio file here.</div>
            <div class="input-group mb-3">
                <input type="file" name="file" accept="mp4,mp3" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
            </div>
            <button type="submit" class="btn btn-primary">Convert</button>
          </form>
        {% if message %}
            <p>{{ message }}</p>
            {% if filename %}
                <video width="320" height="240" controls>
                    <source src="{{ url_for('static', filename=filename) }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% endif %}
        {% endif %}
        </div>
      </div>

{% endblock %}